<!DOCTYPE html>
<html lang="en">
<head>
	<title>Rust Python Demo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
        <table>
                <thead>
                        <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Last Name</th>
                        </tr>
                </thead>
                <tbody>
                        {{ #each speakers }}
                        <tr>
                                <td>{{ id }}</td>
                                <td>{{ name }}</td>
                                <td>{{ last_name }}</td>
                        </tr>
                        {{ /each }}
                </tbody>
        </table>
</div>
</body>
</html>
